@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #2a1b6b, #5c44a2);
}

.estrelas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(1px 1px at 25% 15%, white, transparent),

        radial-gradient(1px 1px at 50% 25%, white, transparent),
        radial-gradient(1px 1px at 75% 35%, white, transparent),
        radial-gradient(1px 1px at 10% 45%, white, transparent),
        radial-gradient(1px 1px at 90% 55%, white, transparent),
        radial-gradient(1px 1px at 20% 65%, white, transparent),
        radial-gradient(1px 1px at 80% 75%, white, transparent),
        radial-gradient(1px 1px at 30% 85%, white, transparent),
        radial-gradient(1px 1px at 70% 95%, white, transparent);
    animation: piscar 4.5s infinite;

}

@keyframes piscar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.formulario {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 16px;
    padding: 20px;

}

.formulario h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.caixa-formulario {
    position: relative;
    margin-bottom: 30px;
}

.caixa-formulario input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 16px;
    padding: 0 20px;
}

.caixa-formulario input::placeholder {
    color: #fff;
    opacity: 0.5;
}


.caixa-formulario i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;

}

.caixa-lembrar-esqueci {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;
}

.caixa-lembrar-esqueci label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.caixa-lembrar-esqueci label input {
    accent-color: rgb(127, 12, 215);

}


.caixa-lembrar-esqueci a {
    text-decoration: none;
    color: #fff;

}

.caixa-lembrar-esqueci a:hover {
    text-decoration: underline;

}

button {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #2a1b6b;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
    
}

.link-registro {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}



.link-registro a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.link-registro a:hover {
    text-decoration: underline;
}